.Header-Container{
    display: flex;
    justify-content: space-between;

    &__img{
        display: flex;
        border: 1px solid #51545a;
        border-top: none;
        border-left: none;
        border-right: none;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-top: 15px;
        width: 16rem;
    }
    &__Logout{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        
            .items{
                margin: 10px;
                color: lightgrey;
                font-size: 15px;
               
            }
            .user-logout{
                font-size: 1.7rem;
                color: lightgrey;
            }
        
    }
}