.SubHeader-container{
    display: flex;
    justify-content: space-between;
    // border: 1px solid hotpink;    
    position: fixed;
    width: 78.5%;
    margin-left: 42.5vh;
    margin-top: 10vh;
    
    


    &__Admin{
        display: flex;

            .items{
                margin: 5px;
                    img{
                        width: 50px;
                    }
            }
    }
    &__hamber{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
            img{
                width: 30px;
            }
    }


    .Admin-Name_Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;

            .Admin_Name{
                font-weight: bold;
            }
            .Manager{
                font-size: 0.8rem;
                font-weight: bold;
                color: gray;
            }
    }
}