.App{
  display: grid;
  grid-template-rows: 7% 6% 1fr ;
  grid-template-columns:20% 2% 1fr;

  grid-template-areas: 
      " header header header"
      " sidebar divider subHeader"
      " sidebar divider main "
  ;
}


#header{
  grid-area:header ;
  background-color: #212429;
}
 

#sidebar{
  grid-area:sidebar ;
  background-color: #212429;
}

#divider{
  grid-area:divider ;
  background-color: #DDDDDD;
}

#subHeader{
  grid-area:subHeader ;
  background-color: white;
}

#main{
  grid-area:main ;
  background-color: #f8f9fb;
}

