.App{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 2fr;

  grid-template-areas: 
      " Navbar Navbar Navbar"
      " . Main ."
      " Footer Footer Footer "
  ;
}


#Navbar{
  grid-area:Navbar ;
  background-color: grey;
}
 

#Main{
  grid-area:Main ;
  background-color: #e3e3e3;
}

#Footer{
  grid-area:Footer ;
  background-color: gray;
}
